div.grid_box{
    display: flex;
    flex-wrap: wrap;
}
img.thumnail_img{
    width: 100px;
    height: 100px;
}
article.new_item{
    width: 180px;
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: center;
}
div.item_name{
    text-align: center;
    padding-bottom: 10px;
}
div.item_name a{
    text-decoration: none;
}
div.item_info_box{
    display: flex;
    justify-content: space-between;
}