section.item_info{
    display: flex;
    
}
section.item_info div.item_meta_info{
    display: flex;
    flex-direction: column;
}
div.item_img_box img{
    width: 300px;
    height: 300px;
}
span.title{
    font-size: 20px;
    font-weight: bold;
}